@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
    --rosewater: #dc8a78;
    --flamingo: #dd7878;
    --pink: #ea76cb;
    --mauve: #8839ef;
    --red: #d20f39;
    --maroon: #e64553;
    --peach: #fe640b;
    --yellow: #df8e1d;
    --green: #40a02b;
    --teal: #179299;
    --sky: #04a5e5;
    --sapphire: #209fb5;
    --blue: #1e66f5;
    --lavender: #7287fd;
    --text: #4c4f69;
    --subtext1: #5c5f77;
    --subtext0: #6c6f85;
    --overlay2: #7c7f93;
    --overlay1: #8c8fa1;
    --overlay0: #9ca0b0;
    --surface2: #acb0be;
    --surface1: #bcc0cc;
    --surface0: #ccd0da;
    --base: #eff1f5;
    --mantle: #e6e9ef;
    --crust: #dce0e8;

    --default-padding: 18px 20px;
    --font-size: 18px;
}

body {
    font-family: 'Open Sans';
    font-weight: lighter;
    background-color: var(--base);
    color: var(--text);
}

.navbar {
    overflow: hidden;
    text-align: center;
    background-color: var(--crust);
}

.navbar a {
    float: left;
    color: var(--text);
    padding: var(--default-padding);
    text-decoration: none;
    font-size: var(--font-size);
}

.navbar button {
    float: right;
    color: var(--text);
    background-color: var(--crust);
    text-align: center;
    padding: var(--default-padding);
    text-decoration: none;
    font-size: var(--font-size);
    border: none;
}

.navbar button:hover {
    background-color: var(--surface0);
}

.navbar a:hover {
    background-color: var(--surface0);
    /* color: var(--base); */
}

.navbar a.active {
    background-color: var(--sapphire);
    color: var(--base);
}

.navbar img {
    /* width: 12px;
    height: 12px; */
    height: 28px;
    width: 28px;
    vertical-align: middle;
}

.about {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    font-size: 48pt;
}

.about h1 {
    display: flex;
    justify-content: center;
    font-size: 96pt;
    margin-bottom: -12%;
}

.about a {
    display: flex;
    justify-content: center;
}

.about img {
    height: 220px;
    width: 220px;
    display: flex;
    border-radius: 50%;
    margin: 40px;
    border: 3px;
    border-color: #f8f8f2;
}

.extra-info {
    font-size: 14pt;
    justify-content: center;
    display: flex;
    margin-top: 3%;
}

.with-love {
    display: flex;
    justify-content: center;
    margin-top: 9.5%;
}

.base64-main-context {
    background-color: var(--lavender);
    color: #1e1e2e;
    border-radius: 15px;
    margin-top: 2.5%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 35px;
}

.base64-main-context div {
    display: flex;
    justify-content: center;
}

.base64-main-context button#submit {
    background-color: var(--lavender);
    border-radius: 20px;
    border-color: #1e1e2e;
    margin-top: 20px;
    text-align: center;
    height: 40px;
    width: 200px;
}

.base64-main-context button#submit:hover {
    background-color: var(--blue);
}

.base64-main-context button#submit:active {
    background-color: var(--lavender);
}

.base64-main-context textarea {
    background-color: var(--crust);
    height: 400px;
    width: 400px;
    color: var(--text);
    border-radius: 10px;
    border-color: #1e1e2e;
    padding: 10px;
    font-size: 16px;
    outline: none;
    resize: none;
}

.converter-main-context {
    background-color: var(--lavender);
    color: #1e1e2e;
    border-radius: 15px;
    margin-top: 2.5%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 35px;
}

.converter-main-context textarea {
    background-color: var(--crust);
    height: 400px;
    width: 400px;
    color: var(--text);
    border-radius: 10px;
    border-color: #1e1e2e;
    padding: 10px;
    font-size: 16px;
    outline: none;
    resize: none;
}

.converter-main-context button#submit {
    background-color: var(--lavender);
    border-radius: 20px;
    border-color: #1e1e2e;
    margin-top: 20px;
    text-align: center;
    height: 40px;
    width: 200px;
}

.converter-main-context button#submit:active {
    background-color: var(--lavender);
}

.converter-main-context button#submit:hover {
    background-color: var(--blue);
}